@using VeloNews.Models.HomeViewModels;

@model HomeViewModel



<div>
    <div class="lastnews-section">
        @foreach (var lastNews in Model.LastNews)
        {
            <div class="lastnews-item">
                <input type="hidden" value="@lastNews.Id" />
                <div class="lastnews-image-block">
                    <a href="/News/ShowNews?newsId=@lastNews.Id">
                        <img src="@lastNews.PreviewImage" />
                    </a>
                    <div class="item-image-category">@lastNews.Category</div>
                </div>
                <div class="lastnews-item-text">
                    <div class="lastnews-item-title">
                        <a href="/News/ShowNews?newsId=@lastNews.Id">
                            @lastNews.Title
                        </a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@section Styles {
    <link href="~/css/home.css" rel="stylesheet" type="text/css" />
}

@section Scripts {
    <script src="/js/home.js"></script>
}
