@model List<ImageViewModel>


<div>
    @foreach(var image in Model)
    {
        <div>@image.Name</div>
        <div><img src="@image.Url" /></div>
    }
</div>
<div>
    <a href="/Home/AddImage">Add new image</a>
</div>
