<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - VeloNews</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Styles", required: false)
    @await RenderSectionAsync("Scripts", required: false)
</head>
<body>
    <header class="header">
        <div class="top-panel">
            <div class="container">
                <div class="login-block">
                    <div class="title">
                        <div>VELO NEWS</div>
                    </div>
                    <div class="auth">
                        @if (!User.Identity.IsAuthenticated)
                        {
                            <span class="material-symbols-outlined">lock</span>
                            <div><a href="/User/Login">Вход</a></div>
                            <div>/</div>
                            <div><a href="/User/Registration">Регистрация</a></div>
                        }
                        else
                        {
                            <span class="material-symbols-outlined">
                                account_circle
                            </span>
                            <div><a href="/User/Profile">Профиль</a></div>
                        }

                    </div>
                </div>
            </div>
        </div>
        <div class="nav">
            <div class="container">
                <ul class="nav-list">
                    <li class="nav-item">
                        <a href="/Home/Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="/News/Index">News</a>
                    </li>
                    <li class="nav-item">
                        <a>Races</a>
                    </li>
                    <li class="nav-item">
                        <a>Rating</a>
                    </li>
                </ul>
            </div>
        </div>
    </header>
    <section class="main">
        <div class="container">
            @RenderBody()
        </div>
    </section>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - VeloNews - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
</body>
</html>
