@using VeloNews.Models.NewsViewModels;
@model NewsViewModel



<div class="add-news">
    <form action="AddNews" method="post" enctype="multipart/form-data" >
        @Html.HiddenFor(x => x.Id)
        <div class="news-title-input">
            Заголовок: @Html.TextAreaFor(x => x.Title, new {@class="title", cols="150", rows="2"})
        </div>

        <div>
            Короткий текст для превью: @Html.TextAreaFor(x=>x.ShortText, new {id="shortText"})
            <script>
                var editor = new FroalaEditor('#shortText')
            </script>

            <div class="image-preview">
                Картинки:  <input asp-for="NewsImages" multiple />
            </div>
        </div>


        <div class="news-text-input">
            Текст новости: @Html.TextAreaFor(x => x.Text, new{id="newsEditor"})
        </div>

        <button class="btn btn-submit">Create news</button>
    </form>

    <script>
        var editor = new FroalaEditor('#newsEditor');
    </script>
</div>


@section Styles {
    <link href="~/css/froala/froala_editor.pkgd.min.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="~/js/froala/froala_editor.pkgd.min.js"></script>
    <link href="~/css/news.css" rel="stylesheet" type="text/css" />
}