@using VeloNews.Models.UserViewModels;

@section Styles {
    <link href="~/css/user.css" rel="stylesheet" type="text/css" />
}

<div>
    <div class="access-denied">
        Oops. You can't come here.<a href="/Home/Index"> Go Home</a>
    </div>
</div>