@using VeloNews.Models.UserViewModels;
@model LoginViewModel

@section Styles {
    <link href="~/css/user.css" rel="stylesheet" type="text/css" />
}

@section Scripts {
    <script src="~/js/user/login.js" asp-append-version="true"></script>
}

<div>
    <h2 class="login-title">Login</h2>
    <div class="login-desc">
        Login with your username and password.
    </div>
    <div class="login-input-section">
        <form action="/User/Login" method="post">
            <ul class="login-input">
                <li class="login-input-item">
                    <div class="login-item-text">Username</div>
                    <div>@Html.TextBoxFor(x => x.Name)</div>
                </li>
                <li class="login-input-item">
                    <div class="login-item-text">Password</div>
                    <div>@Html.TextBoxFor(x => x.Password, htmlAttributes: new {@type = "password"})</div>
                </li>
                <li class="login-input-item">
                    <input type="submit" value="Log In" />
                </li>
            </ul>
        </form>
        <div class="login-users">
            <h2>Login users</h2>
            <div class="login-user-list"></div>
        </div>
    </div>
    <ul>
        <li>@Html.ValidationMessageFor(x => x.Name)</li>
        <li>@Html.ValidationMessageFor(x =>x.Password)</li>
    </ul>
    <div class="register-ref">
        Or do you want to signup? Click <a class="profile-logout-btn" href="/User/Registration">here</a> to create a new account on VeloNews.
    </div>
</div>