@using Data.Interface.Models;
@using VeloNews.Models.UserViewModels;
@using VeloNews.Services;
@model ProfileViewModel


@section Styles {
    <link href="~/css/user.css" rel="stylesheet" type="text/css" />
}

<div>
    <h2>My account</h2>
    <div class="profile-logout-text">You are logged in. Click <a href="/User/Logout">here</a> to logout.</div>

    <div>
        Your account information.
    </div>
    <div class="profile-info">
        <ul class="profile-info-list">
            <li class="profile-info-item">
                <div>Username</div>
                <div>@Model.Name</div>
            </li>
            <li class="profile-info-item">
                <div>Username</div>
                <div>@Model.Name</div>
            </li>
            <li class="profile-info-item">
                <div>Username</div>
                <div>@Model.Name</div>
            </li>
        </ul>
    </div>
    <div>
        <div>
            @Model.Name
            <a href="/Admin/Index">AdminPage</a>
        </div>
    </div>

</div>