.main-block {
    display: flex;
}

.left-menu {
    width: 200px;
    text-align: center; 
    height: 80vh;
}

.left-menu-list {
}

.left-menu-item {
    padding: 15px 5px;
    border-bottom: 1px solid grey;
}

.left-menu-item a {
    color: blue;    
    font-size: 18px;
}




.content {
    padding: 15px 15px;
}
