:root {
    --main-bg-color: darkslateblue;
    --primary-bg-color: #ccccff;
    --main-border: 1px solid var(--main-bg-color);
}

.main-block {
    display: flex;
}


.content {
    padding: 15px 15px;
    width: 100%;
}



/*---------INDEX------------*/

.stats-list {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 30px 0;
}

.stats-item {
    text-align: center;
    padding: 20px;
    border: var(--main-border);
    border-radius: 10px;
    width: 20%;
    background: white;
}

    .stats-item .material-symbols-outlined {
        font-size: 40px;
        color: var(--main-bg-color);
        padding: 10px;
    }

.stats-count {
    padding: 10px 0;
    font-size: 20px;
    color: var(--main-bg-color);
}


.last-activity-section {
    display: flex;
    justify-content: space-between;
    text-align: center;
    width: 100%;
    margin-top: 70px;
    flex-wrap: wrap;
}

    .last-activity-section h3 {
        font-size: 20px;
        margin: 10px 0;
    }

.activity-block {
    border: var(--main-border);
    border-radius: 10px;
    margin: 5px;
}

    .activity-block.news {
        width: 70%;
    }

    .activity-block.user {
        width: 25%;
    }

.news-row-header {
    display: flex;
    border-bottom: var(--main-border);
    padding: 0 10px;
}


    .activity-block.news a {
        color: black;
    }

a .news-row:hover {
    background: var(--primary-bg-color);
}

.news-row {
    border: var(--main-border);
    border-radius: 7px;
    margin: 10px;
    display: flex;
}

.news-table-cell {
    width: 15%;
    text-align: center;
    padding: 5px 0;
}

    .news-table-cell.id {
        width: 15%;
        display: inline;
    }

    .news-table-cell.title {
        width: 69%;
        display: inline;
        border-right: 1px solid grey;
        border-left: 1px solid grey;
    }

    .news-table-cell.creator {
        width: 30%;
        display: inline;
    }

.user-row-header {
    display: flex;
    justify-content: space-around;
    border-bottom: var(--main-border);
}

.user-row {
    border: var(--main-border);
    border-radius: 7px;
    margin: 10px;
    display: flex;
    justify-content: space-around;
}

.user-table-cell {
    width: 15%;
    text-align: center;
    padding: 5px;
}

    .user-table-cell.username {
        width: 78%;
        display: inline;
    }

.activity-block.comments {
    width: 100%;
    margin-top: 30px;
    border-radius: 10px;
}

.comment-row-header {
    display: flex;
    justify-content: space-around;
    border-bottom: var(--main-border);
}

.comment-row {
    border: var(--main-border);
    border-radius: 7px;
    margin: 10px;
    display: flex;
    justify-content: space-around;
}

.comment-table-cell {
    width: 15%;
    text-align: center;
    padding: 5px;
}

    .comment-table-cell.text {
        width: 78%;
        display: inline;
    }


/*---------ALLNEWS-PAGE-------------*/


.all-news-table {
    margin-top: 20px;
}

.create-news {
    font-size: 20px;
    color: green;
}

.news-header-item {
    display: grid;
    grid-template-columns: 0.5fr 3fr 1fr 1fr 1fr;
    grid-auto-rows: 50px;
    text-align: center;
    border: var(--main-border);
    border-radius: 7px;
    color: white;
    background: var(--main-bg-color);
}

    .news-header-item > div {
        padding: 15px 5px;
    }

        .news-header-item > div:not(:last-child) {
            border-right: var(--main-border);
        }

.news-header-cell {
}

.news-list-item {
    display: grid;
    grid-template-columns: 0.5fr 3fr 1fr 1fr 1fr;
    min-height: 40px;
    text-align: center;
    border: var(--main-border);
    margin: 5px;
    border-radius: 7px;
}

    .news-list-item:hover {
        background: #ccccff;
    }

    .news-list-item > div:not(:last-child) {
        border-right: var(--main-border);
        padding: 10px 5px;
    }


.news-item-title a {
    display: block;
    cursor: pointer;
    color: black;
}


.news-item-actions {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

    .news-item-actions div {
        padding: 3px;
        border-radius: 5px;
        color: white;
        width: 70px;
        background: #ff6a00;
    }

/*----ALL-USERS--------*/


.user-header-item {
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr 1fr 1fr 1fr;   
    grid-auto-rows: 50px;
    text-align: center;
    border: var(--main-border);
    border-radius: 7px;
    color: white;
    background: var(--main-bg-color);
}

    .user-header-item > div {
        padding: 15px 5px;
    }

        .user-header-item > div:not(:last-child) {
            border-right: var(--main-border);
        }

.user-list-item {
    display: grid;
    grid-template-columns: 0.5fr 2fr 1fr 1fr 1fr 1fr;
    min-height: 40px;
    align-items: center;
    text-align: center;
    border: var(--main-border);
    margin: 5px;
    border-radius: 7px;
}

    .user-list-item:hover {
        background: #ccccff;
    }

    .nuser-list-item > div:not(:last-child) {
        border-right: var(--main-border);
        padding: 10px 5px;
    }


.user-item-actions {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

    .user-item-actions div {
        padding: 3px;
        border-radius: 5px;
        color: white;
        width: 70px;
        background: #ff6a00;
    }




/*-------ACTIVITY PAGE-----------*/

.user-activity-container h3 {
    text-align: center;
}

.user-activity-section {
    display: flex;
    justify-content: center;
    margin: 20px auto;
}



.user-activity-block {
    border: 1px solid grey;
    width: 600px;
    max-height: 400px;
    overflow-y: auto;
}

.user-activity-block-row {
    padding: 5px;
    border-bottom: 1px solid grey;
}

.user-activity-block-row:last-child{
    border: none;
}