:root {
    --main-bg-color: darkslateblue;
    --primary-bg-color: #ccccff;
    --main-border: 1px solid var(--main-bg-color);
}

.lastnews-section {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
}

.lastnews-item {
    position: relative;
    width: 350px;
    height: 350px;
    background: #D3D3D3;
}

    .lastnews-item:nth-child(-n+2) {
        width: 520px;
        height: 400px;
    }

        .lastnews-item:nth-child(-n+2).lastnews-item-image img {
            
        }

.lastnews-item-image {
    width: 100%;
}

    .lastnews-item-image img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

.item-image-category {
    position: absolute;
    font-size: 18px;
    top: 0;
    padding: 5px 10px;
    background: var(--main-bg-color);
    color: white;
}

.lastnews-item-text {
    padding: 10px 25px;

}

.lastnews-item-title {
    font-weight: 600;
    font-size: 22px;
}
.lastnews-item-title a {
    color: black;
}

.lastnews-item:nth-child(n+3) .lastnews-item-image {
}
