.trix-button-group--file-tools {
    display: none !important;
}

.trix-button--icon-attach {
    display: none !important;
}

:root {
    --main-bg-color: darkslateblue;
    --primary-bg-color: #ccccff;
    --main-border: 1px solid var(--main-bg-color);
}

/*________________________________________--*/

.add-news {
    margin-top: 40px;
}

.news-title-input {
    padding: 10px;
}

.news-text-input {
    padding: 10px;
}

.btn {
    margin: 40px 10px;
}


/*-----news-card-----*/


.all-news {
    max-width: 1100px;
    margin: 0 auto;
}

.news-list {
}

.news-item {
    margin: 15px 5px;
    border: 2px solid black;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 700;
}

.news-item-title {
    padding: 5px 10px;
    border-bottom: 2px solid black;
    font-size: medium;
    font-weight: 500;
    background: #1e0c38;
    color: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

    .news-item-title a {
        color: white;
    }

.news-item-body {
    display: flex;
}

.body-image-block {
    position: relative;
    width: 280px;
    height: 250px;
}

.body-image-block .category {
    position: absolute;
    font-size: 18px;
    top: 0;
    padding:5px 10px;
    background: var(--main-bg-color);
    color: white;
}

.news-item-body img {
    width: 270px;
    height: 240px;
    object-fit: cover;
}

.news-item-text {
    margin: 5px 20px;
}

    .news-item-text p span {
        font-size: 20px;
        font-weight: 600;
    }

.news-item-author {
    padding: 0px 10px;
    font-size: small;
    border-top: 1px solid grey;
    display: flex;
    justify-content: space-between;
}


/*-----show-news----------*/


.show-news {
}

.news-block {
    max-width: 1000px;
    margin: 10px auto;
    border: 1px solid grey;
    border-radius: 10px;
    padding: 5px 15px;
}

.news-content {
}

.show-news-author {
    margin: 5px;
    color: grey;
    font-size: x-small;
}

.show-news-title {
    text-align: center;
    font-size: x-large;
    font-weight: 700;
    margin: 20px 0;
}

.show-news-image-block {
    margin: 10px 20px;
}

.show-news-image {
    display: block;
    margin: 0 auto;
    max-width: 800px;
    padding: 10px 30px;
}



.back-btn {
    margin: 20px 10px;
}

    .back-btn a {
        padding: 5px;
        border-bottom: 1px solid grey;
    }


.comment-block {
    margin-top: 140px;
}

.trix-editor {
    margin: 10px;
}

.comment-list {
    margin-top: 60px;
}

.comment-item {
    width: 945px;
    display: flex;
    max-height: 300px;
    margin: 10px;
    border: 1px solid grey;
    border-radius: 4px;
}


.comment-list-sort {
    font-weight: 600;
    color: red;
}

.none-commetns {
}

.comment-item-avatar {
    text-align: center;
    border-right: 1px solid grey;
    width: 20%;
    padding: 7px;
}

.comment-item-text {
    width: 100%;
}

.item-text-username {
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
    border-bottom: 1px solid grey;
}

.item-text-field {
    min-height: 150px;
    padding: 20px 5px;
}

.text-username-nick {
    font-size: 18px;
    font-weight:500;
    color: blue;
}

.text-username-date {
    font-size: 10px;
    opacity: 80%;
}

.remove-button {
    background: red;
    color: white;
    border: none;
    border-radius: 5px;
}

.template {
    display: none;
}
